﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Deze website vormt een deel van een soort domotica systeem. Vanop deze website kunnen
   we de lichten in de gewenste ruimte in- en uitschakelen. Ook zullen er enkele apparaten 
   kunnen worden aangestuurd.
</p>
