﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jens Houttave<br />
    Elektronica-ICT<br />
    Vives Kortrijk
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jens.houttave@student.vives.be">jens.houttave@student.vives.be</a>
</address>
