﻿@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>

        <div class="col-6">
            <h4>Aansturing lichten.</h4>
            <p>U kan zelf de lichten aanschakelen in de ruimte die wenst door deze simpelweg aan te vinken.</p>

            <form action="">
                <input type="checkbox" id="ruimte1" name="ruimte" value="Woonkamer">Woonkamer<br>
                <input type="checkbox" id="ruimte2" name="ruimte" value="Keuken">Keuken<br>
                <input type="checkbox" id="ruimte3" name="ruimte" value="Salon">Salon<br>
                <input type="checkbox" id="ruimte4" name="ruimte" value="Gang">Gang<br>
                <input type="checkbox" id="ruimte5" name="ruimte" value="Salon">Badkamer<br>
            </form>
        </div>
        <hr />
        <br />

        <div class="col-6">
            <h4>Apparaten aansturen.</h4>
            <p>U kan uw huishoud apparaten inschalen door de naam van het apparaat in te vullen, samen met de instructie 'Aan' of 'Uit'.</p>

            <p>Naam apparaat: </p>
            <input type="text" id="userInput" />
            <br />
            <p>Instructie: </p>
            <input type="text" id="messageInput" />
            <br />
            <input type="button" id="sendButton" value="Send instruction" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <h4>Overzicht instructies:</h4>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>